<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Halaman Utama</title>
  </head>
  
  <body>
	<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <p class="navbar-brand" style="padding-top: 15px;">
          <img src="pict/Del.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          Institut Teknologi Del
        </p>

        <form class="form-inline" style="margin: left;">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="pict/search_icon.png" width="23" height="23"></button>
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>

        {% if login %}

        <form class="form-inline" style="margin-left: auto;">
            <p style= "padding-right: 30px; padding-top: 10px; font-size: 25px;">Hello, {{user}}!</p>
            <a class="navbar-icon" href="#">
              <img src="pict/user_icon.png" width="30" height="30" style="margin-right: 30px;" >
              <img src="pict/bell_icon.png" width="30" height="30" data-toggle="tooltip" title="notification" style="margin-right: 30px;">
            </a>
        </form>
        <form action="logout.php">
          <button type="submit" class="btn btn-outline-primary" style="padding: 5px;">Log Out</button>
        </form>
        {% endif %}
    </nav>

    <div class="row no-gutters">
        <div class="col-md-2" style="background-color: #dedede;">
            <div class="container" style="background-color: rgb(247, 247, 247)">
              <h5 style="padding-left: 10px; padding-top: 10px; color: #3327a1; padding-bottom: 10px;">Navigation</h5>
            </div>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="text-align: center;">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
                <a class="nav-link" href="profile.php">Profile</a>
                <a class="nav-link" href="messages.php">Messages</a>
                <a class="nav-link" href="team.php">Upload Kelompok</a>
		<a class="nav-link" href="forum.php">Forum</a>
                <a class="nav-link" href="review.php">Review</a>
                <a class="nav-link" href="settings.php">Settings</a>
            </div>
            <br>
            <div class="row no-gutters">
              <div class="container" style="background-color: rgb(247, 247, 247)">
                <h5 style="padding-left: 10px; padding-top: 10px; color: #3327a1;">Event</h5>
              </div>
            </div>
            <div class="row no-gutters" >
              <div class="container" style="text-align: center;">
                <div class="card-body">
                  <form class="form-inline" action="event.php">
                    <button type="subbmit" class="btn btn-info" style="font-size: 15px; background-color: darkcyan; margin: auto;">Add New Event</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="row no-gutters">
                <div class="card-body">

                  {% for ev in event %}
                    <h5 class="card-title" style="font-size: 17px;">{{ev['event']}}</h5>
                    <p class="card-text" style="font-size: 14px; text-align: right; color: #193Abf;">{{ev['date']}}</p>
                  {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-20">
            <h2 class="judul" style="text-align: center; font-size: 35px;">P U B L I K A S I</h2>
            <h6 style="text-align: center;">Publikasi Artefak Mahasiswa</h6>
            <br>
            <div class="container" style="text-align: center;">
              <div class="card" style="width: 33rem; margin: 0 auto;">
                <div class="card-header">
                  <h5 class="card-title">Sistem Informasi Pengajuan Izin Cuti Karyawan</h5>
                </div>
                <div class="card-body;">
                  <img src="pict/gambar1.jpg" style="width: 31rem; padding-top: 15px;">
                  <p class="card-text" style="text-align: right; font-size: 15px; padding-right: 15px;">Sistem Informasi/10 September 2020</p>
                  <div class="container" style="text-align: left; padding-bottom: 10px;">
                    <a href="#" class="card-link">Baca Selengkapnya</a>
                  </div>
                </div>   
              </div>
            </div>
            <br>
            <br>
            <div class="container" style="text-align: center;">
              <form class="form-inline">
                <div class="card" style="width: 12rem; margin-left: 66px;">
                    <img src="pict/gambar2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Judul</h6>
                    </div>
                </div>
                <div class="card" style="width: 12rem; margin-left: 60px;">
                    <img src="pict/gambar3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Judul</h6>
                    </div>
                </div>
                <div class="card" style="width: 12rem; margin-left: 60px; margin-right: 66px;">
                    <img src="pict/gambar5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">Judul</h6>
                    </div>
                </div>
              </form>
            </div>
            <br>
            <br>
            <div class="container" style="text-align: center;">
              <form action="artefak.php">
                <button type="submit" class="btn btn-outline-primary" style="padding-right: 15px; padding-left: 15px;">Baca artefak lainnya</button>
              </form>
            </div>
        </div>

        <div class="col-md-2" style="background: #edf4f7; margin-left: auto;">
            <fieldset class="scheduler-border">
            <div class="container" style="margin-left: 10px; margin-right: 10px;">
                <div class="row">
                    <div class="span12">
                        <table class="table-condensed table-bordered table-striped">
                            <thead>
                                <tr>
                                  <th colspan="7">
                                    <span class="btn-group">
                                        <a class="btn"><i class="icon-chevron-left"></i></a>
                                        <a class="btn active">September 2020</a>
                                        <a class="btn"><i class="icon-chevron-right"></i></a>
                                    </span>
                                  </th>
                                </tr>
                                <tr>
                                    <th>Su</th>
                                    <th>Mo</th>
                                    <th>Tu</th>
                                    <th>We</th>
                                    <th>Th</th>
                                    <th>Fr</th>
                                    <th>Sa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="muted">29</td>
                                    <td class="muted">30</td>
                                    <td class="muted">31</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td class="btn-primary"><strong>20</strong></td>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td class="muted">1</td>
                                    <td class="muted">2</td>
                                    <td class="muted">3</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	</section>
  <br>
  <br>
  <br>
  <br>
  <footer>
	<style>
		footer {
			padding: 5px;
			background-color: grey;
			text-align: center; 
			}
	</style>
		<p>Sistem Informasi Manajemen Tugas Akhir Copyright © 2020</p>
	</footer>
 </body>
</html>
